<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:fragment="headstuff">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bad Twitter</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/c815218afc.js" crossorigin="anonymous"></script>
    <style>
        body {padding-bottom: 70px;}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" href="/"><span style="font-size: 1.5em; color: White"><i class="fas fa-crow"></i></span>BadTwitter</a>
        <!--<div class="navbar-nav">
            <a class="nav-item nav-link" href="/add">Submit a Message</a>
        </div>-->
        <div class="navbar-nav  ml-auto">
            <a class="nav-item nav-link" href="/add">Add a Message <span style="font-size: 1.5em; color: White;"><i class="fas fa-edit"></i></span></a>
        </div>
    </div>
</nav>
<footer class="page-footer font-small footer-dark" th:fragment="footer">
    <div class="footer-copyright text-center py-3">© 2019 Copyright: <strong>Yusuf Reyazuddin</strong>
    </div>
</footer>
<th:block th:fragment="jslinks">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js">
    </script>
    <script src="/js/bootstrap.js"></script>
</th:block>
</body>
</html>