<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Messages</h1>
<a href="/add">Add a Message</a><br />
<table>
    <tr>
        <th>Message</th>
        <th>Posted Date</th>
        <th>Author</th>
        <td>Actions</td>
    </tr>
    <tr th:each="message: ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.postedDate}"></td>
        <td th:text="${message.sentby}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${message.id})}">Detail</a> -
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>