<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<table>
    <tr>
        <th>Message</th>
        <th>Posted Date</th>
        <th>Author</th>
        <td>Actions</td>
    </tr>
    <div class="card">
    <tr th:each="message: ${messages}">
            <td th:text="${message.content}"></td>
            <td th:text="${message.postedDate}"></td>
            <td th:text="${message.sentby}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${message.id})}">Detail</a> -
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
        </td>
    </tr>
    </div>
</table>
</body>
<th:block th:replace="base :: jslinks"></th:block>
</html>