<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Submit a Message!</h1>
    <form action="#" th:action="@{/process}" th:object="${message}" method="post">
        <input type="hidden" th:field="*{id}" />
        Message : <textarea rows="3" th:field="*{content}" />
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br />
        Today's Date(MM/DD/YYYY) : <input type="text" th:field="*{postedDate}" />
        <span th:if="${#fields.hasErrors('postedDate')}" th:errors="*{postedDate}"></span><br />
        Sent By : <input type="text" th:field="*{sentby}"  />
        <span th:if="${#fields.hasErrors('sentby')}" th:errors="*{sentby}"></span><br />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>